
@{
    Layout = null;
}

<!DOCTYPE html>

<h3>Mcv kamp tablo örneği-Kategori</h3>
<br />

<table>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Acıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
