@using EntityLayer.Concrete
@model List<Writer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />


<!DOCTYPE html>
<html>
<head>
    <style>
     .image_class {
        height: 150px;
        width: 250px;
        object-fit: cover;
    }
    </style>
</head>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-11">
                            <h1>Yazarlar sayfası</h1>
                        </div>

                        <div >
                            <a href="/Writer/AddWriter"
                               class="btn btn-success btn ">Yazar ekle</a>
                        </div>

                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="card card-solid">
                    <div class="card-body pb-0">
                        <div class="row d-flex align-items-stretch">
                            @foreach (var item in Model)
                            {
                                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                                    <div class="card bg-light">
                                        <div class="card-header text-muted border-bottom-0">
                                            <b>@item.WriterTitle</b>
                                        </div>
                                        <div class="card-body pt-0">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="lead"><b>@item.WriterName</b></h2>
                                                    <p class="text-muted text-sm"><b>Hakkında: </b> @item.WriterAbout </p>
                                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Mail: @item.WriterMail</li>

                                                    </ul>
                                                </div>
                                                <div class="col-5 text-center">
                                                    <img src="~/Profile_Images/@item.WriterImage" alt="" class="img-circle img-fluid image_class ">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="text-right">
                                                <a href="/Writer/Headers" class="btn btn-sm bg-teal">
                                                    <i class="fas fa-comments">Yazarın başlıkları</i>
                                                </a>
                                                <a href="/Writer/EditWriter/@item.WriterID" class="btn btn-sm btn-primary">
                                                    <i class="fas fa-user"></i> Profili düzenle
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <nav aria-label="Contacts Page Navigation">
                            <ul class="pagination justify-content-center m-0">
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item"><a class="page-link" href="#">6</a></li>
                                <li class="page-item"><a class="page-link" href="#">7</a></li>
                                <li class="page-item"><a class="page-link" href="#">8</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->

            </section>
            <!-- /.content -->

</body>
</html>


